<div class="container" ng-controller="ForgotController">
      <div class="content">
          <div class="alert alert-info" ng-show="waiting"><i class="fa fa-2x fa-spinner fa-spin"></i></div>
          <div class="alert" ng-class="messageLevel" ng-show="message && !waiting">{{message}}</div>
          <div class="alert alert-danger" ng-show="complexityRequirements"> 
            <ul><li ng-repeat="c in complexityRequirements">{{c}}</li></ul>
          </div>
          <div ng-show="showLoginLink">
            <a href="dbui2/login2.html" class="btn btn-default" target="_self">Go to login page...</a>
          </div>
          <div ng-show="showResubmitLink">
              <a href class="btn btn-default" ng-click="submitReq()">Re-send email</a>
          </div>
          
        <div class="form" ng-if="showUsername" ng-hide="waiting">
          <form class="form-horizontal" ng-submit="submitReq()" >
            <div class="form-group">
              <label for="username" class="col-sm-3 control-label">Username</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="postData.username" autofocus=""/>
              </div>
            </div>
            
            <input type="submit" ng-disabled="!postData.username" class="btn btn-default pull-right" value="Submit" />
          </form>
        </div>
        
        <div class="form" ng-if="showResetForm" ng-hide="waiting">
          <form class="form-horizontal" >
              
            <div class="form-group">
              <label for="username" class="col-sm-3 control-label">New Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" ng-model="postData.pw" autofocus=""/>
              </div>
            </div>
            
            <div class="form-group">
              <label for="username" class="col-sm-3 control-label">Confirm New Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" ng-model="postData.pwConfirm"/>
              </div>
            </div>
            
            <button class="btn btn-default pull-right" value="Submit" ng-disabled="!postData.pw || (postData.pw != postData.pwConfirm)" ng-click="submitPw()">Change Password</button>
          </form>
        </div>
        
      </div>
</div>