<div class="container" ng-controller="LoginController">
    
      <div class="content">
        <h3 class="message">{{message}}</h3>
        <div class="form">
          <form class="form-horizontal" ng-submit="submit()">
            <div class="form-group" ng-hide="twoFactor">
              <label for="username" class="col-sm-3 control-label">Username</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="postData.username" autofocus=""/>
              </div>
            </div>
            
            <div class="form-group" ng-hide="twoFactor">
              <label for="password" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                <input name="password" type="password" class="form-control" ng-model="postData.password" />
              </div>
            </div>
            
            <div class="form-group" ng-show="twoFactor">
                <label for="verifycode" class="control-label col-sm-3">Verification code</label>
                <div class="col-sm-9">
                    <input name="verifycode" type="text" class="form-control" ng-model="postData.second_factor_code" />
                </div>
            </div>
            
            <a class="btn btn-default" href="dbui2/forgot_pw.html" ng-hide="twoFactor" target="_self">Password Reset</a>
            
            <input type="submit" class="btn btn-success pull-right" value="Login" ng-disabled="!postData.username || !postData.password"/> 
          </form>
        </div>
      </div>
</div>